/* Styles généraux */
body {
    font-family: 'Arial', sans-serif;
    background-color: #121212; /* Fond sombre */
    color: white;
    margin: 0;
    padding: 0;
}
 
header {
    background-color: #1d1d1d; /* Fond foncé */
    padding: 20px;
    text-align: center;
}
 
header .company-name {
    font-size: 2.5em; /* Légèrement plus grand pour un effet plus impactant */
    color: #ff6347; /* Bleu ciel */
    text-align: center;
}
 
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
 
nav ul li {
    display: inline;
    margin: 0 15px;
}
 
nav ul li a {
    color: #ff6347; /* Bleu ciel pour les liens */
    text-decoration: none;
    font-size: 1.2em;
}
 
section {
    padding: 40px;
    margin: 20px;
}
 
section .section-title {
    font-size: 2.5em; /* Agrandissement des titres */
    margin-bottom: 20px;
    text-align: center;
    color: #ff6347; /* rouge */
}
 
/* Jeu Container */
.game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
 
.game-card {
    background-color: #2c2c2c; /* Fond plus clair que le fond général */
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(234, 67, 6, 0.5); /* Ombre rouge */
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
 
.game-card:hover {
    transform: scale(1.05); /* Agrandit la carte au survol */
    box-shadow: 0 0 20px 5px rgba(248, 3, 3, 0.7); /* Ombre LED bleu ciel */
}
 
.game-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
    transition: transform 0.3s ease-in-out;
}
 
.game-image:hover {
    transform: scale(1.1); /* Agrandissement de l'image au survol */
}
 
.game-info {
    padding: 10px;
}
 
.game-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #ff6347; /* Bleu ciel */
}
 
.game-summary {
    font-size: 1em;
    margin-bottom: 10px;
    color: #dcdcdc; /* Gris clair pour le texte de résumé */
}
 
.game-price {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #ff6347; /* Bleu ciel */
}
 
.more-info {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6347; /* Bleu moyen pour le bouton */
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
 
.more-info:hover {
    background-color: #ff6347; /* Bleu plus sombre au survol */
}
 
/* Contact Section */
.contact-info a {
    color: #ff6347; /* Bleu ciel */
}
 
.contact-info p {
    font-size: 1.2em;
    margin: 5px 0;
}
 
#social {
    padding: 2rem;
    margin: 2rem 0;
    background-color: #1f1f1f; /* Fond légèrement plus clair */
    border: 2px solid #ff6347; /* Bordure bleu ciel */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    color: #fff;
    text-align: center;
}
 
.social-links {
    display: flex;
    flex-direction: row;
    align-items: center;
}
 
.social-links a {
    margin: 0.7rem 0;
}
 
.social-links img {
    width: 50px;
    height: 50px;
    transition: transform 0.5s;
}
 
.social-links img:hover {
    transform: scale(1.1);
}
 
#legal {
    padding: 2rem;
    margin: 2rem 0;
    background-color: #1f1f1f;
    border: 2px solid #ff6347;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    color: #fff;
}
 
.legal-info p {
    margin-bottom: 1rem;
    color: #fff;
}
 
.legal-info p strong {
    color: #ff6347; /* Bleu ciel */
}
 
.legal-info a {
    color: #ff6347; /* Bleu ciel */
    text-decoration: none;
}
 
.legal-info a:hover {
    text-decoration: underline;
}
 